.rowww {
	margin-left: 20px;
	color: white;
}
.rowww .imagecontainer img {
	width: 100%;
	object-fit: contain;
	max-height: 100px;
	transition: transform 450ms;
	margin-right: 10px;
}
.rowww .imagecontainer {
	display: flex;
	overflow-y: hidden;
	overflow-x: scroll;
	padding: 20px;
}
.rowww .imagecontainer::-webkit-scrollbar {
	display: none;
}
.rowww .imagecontainer img:hover {
	transform: scale(1.08);
	/* opacity: 1.2; */
}

.row__posterLarge {
	max-height: 250px;
}
*/ .row__posterLarge:hover {
	transform: scale(1.09);
	opacity: 1;
}
